# Project exclude paths
/target/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Any
.jpb
/data/
/src/main/resources/db/changelog/
/pgdata/