<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Stackover Kata</title>
</head>
<body>
<div style="text-align: center; color:#333">
  <div style="margin:0 auto; max-width: 500px;border-radius: 15px; background: #ffffff">
    <h1 style="font-size: 18px; margin-top: 0">🚀 Добро пожаловать, [[${fullName}]]!</h1>
    <a style="color: #15c; font-size: 16px" th:href="${confirmationLink}">
      Перейдите по ссылке для подтверждения адреса эл. почты!
    </a>
  </div>
</div>
</body>
</html>