<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>profilePage</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Stats-icons.css">
</head>

<body>
<div class="container">
    <div id="content">
        <div class="row">
            <div class="col-md-4" style="text-align: center;"><img src="assets/img/inst2.png" style="max-height: 200px;"></div>
            <div class="col-md-7">
                <h2>Dmitry Miroshnikov</h2>
                <div><i class="fas fa-birthday-cake"></i><span style="margin-left: 10px;">Member for 37 days<br></span></div>
                <div><i class="far fa-calendar-alt"></i><span style="margin-left: 10px;">Visited 16 days, 1 consecutive<br></span></div>
                <div><i class="far fa-clock"></i><span style="margin-left: 10px;">Last seen this week<br></span></div>
                <div><i class="fas fa-search-location"></i><span style="margin-left: 10px;">Novosibirsk<br></span></div>
                <div><i class="fas fa-link"></i><span style="margin-left: 10px;">usersitekakoyta.com<br></span></div>
            </div>
            <div class="col-md-1" style="text-align: left;"><button class="btn btn-primary" type="button">Edit</button></div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h2 style="margin-top: 26px;">Stats</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr></tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <h4>666</h4>reputation
                                    </td>
                                    <td>
                                        <h4>2134</h4>reached
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>123</h4>answers
                                    </td>
                                    <td>
                                        <h4>212</h4>questions
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <h2 style="margin-top: 26px;">Communities</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr></tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><i class="fab fa-vk" style="font-size: 23px;"></i></td>
                                    <td>VK</td>
                                </tr>
                                <tr>
                                    <td><i class="fab fa-github" style="font-size: 23px;"></i> </td>
                                    <td>GitHub</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h2 style="margin-top: 26px;">About</h2>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim <br>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <br>commodo consequat. Duis aute irure dolor in reprehenderit in voluptate <br>velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint <br>occaecat cupidatat non proident, sunt in culpa qui officia deserunt <br>mollit anim id est laborum.<br></p>
                    </div>
                </div>
                <h2 style="margin-top: 26px;">Badges</h2>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">1321</h4>
                        <h6 class="text-muted card-subtitle mb-2">gold badges</h6>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">958</h4>
                        <h6 class="text-muted card-subtitle mb-2">silver badges</h6>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">591</h4>
                        <h6 class="text-muted card-subtitle mb-2">bronze badges</h6>
                    </div>
                </div>
                <h2 style="margin-top: 26px;">Top posts</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Posts</th>
                                    <th>Answers</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Title 1</td>
                                    <td>213</td>
                                </tr>
                                <tr>
                                    <td>Title 2</td>
                                    <td>12</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>
</body>

</html>