<!DOCTYPE html>
<html class="html__responsive " lang="en" xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <title>Пользователь</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=453a5648c50d">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/secondary.css?v=6793be5668e3">

<body class="user-page unified-theme">
<div id="notify-container"></div>
<div id="custom-header"></div>

<header class="s-topbar ps-fixed t0 l0 js-top-bar">

    <div class="s-topbar--container">
        <a href="#" class="s-topbar--menu-btn js-left-sidebar-toggle" role="menuitem" aria-haspopup="true" aria-controls="left-sidebar" aria-expanded="false"><span></span></a>
        <div class="topbar-dialog leftnav-dialog js-leftnav-dialog dno">
            <div class="left-sidebar js-unpinned-left-sidebar" data-can-be="left-sidebar" data-is-here-when="sm"></div>
        </div>
        <a href="https://" class="s-topbar--logo js-gps-track" data-gps-track="top_nav.click({is_current:false, location:4, destination:8})">
            <span class=""><span style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">Stackoverkata</span></span></span>
        </a>
        <ol class="s-navigation" role="presentation">


            <li>
                <a href="#" class="s-navigation--item js-gps-track js-products-menu" aria-controls="products-popover" data-controller="s-popover" data-action="s-popover#toggle" data-s-popover-placement="bottom" data-s-popover-toggle-class="is-selected" data-gps-track="top_nav.products.click({location:4, destination:1})" data-ga="[&quot;top navigation&quot;,&quot;products menu click&quot;,null,null,null]" aria-expanded="false"><span
                        style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                    Продукты
                </span></span></a>
            </li>

        </ol>

        <form id="search" role="search" action="/search" class="s-topbar--searchbar js-searchbar " autocomplete="off">
            <div class="s-topbar--searchbar--input-group">
                <input name="q" type="text" role="combobox" placeholder="Поиск…" value="найти" autocomplete="off" maxlength="240" class="s-input s-input__search js-search-field " aria-label="Поиск" aria-controls="top-search" data-controller="s-popover" data-action="focus->s-popover#show" data-s-popover-placement="bottom-start" aria-expanded="false">
                <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18"><path d="m18 16.5-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5ZM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0Z"></path></svg>
                <div class="s-popover p0 wmx100 wmn4 sm:wmn-initial js-top-search-popover" id="top-search" role="menu">
                    <div class="s-popover--arrow"></div>
                    <div class="js-spinner p24 d-flex ai-center jc-center d-none">
                        <div class="s-spinner s-spinner__sm fc-orange-400">
                            <div class="v-visible-sr">Loading…</div>
                        </div>
                    </div>

                    <span class="v-visible-sr js-screen-reader-info"></span>
                    <div class="js-ac-results overflow-y-auto hmx3 d-none"></div>

                    <div class="js-search-hints" aria-describedby="Tips for searching"></div>
                </div>
            </div>
        </form>
    </div>
</header>
<div id="content" class="snippet-hidden">
    <div id="mainbar-full" class="user-show-new">
        <div class="ps-relative mb16">
            <div class="d-flex ai-center fw-wrap gs16">
                <a class="flex--item" href="/users">
                    <div class="md:d-none js-usermini-avatar-container"><div class="bar-md bs-sm"><img src="" alt="аватар" width="128" height="128" class="bar-sm bar-md d-block"></div></div>
                    <div class="d-none md:d-block sm:d-none js-usermini-avatar-container"><div class="bar-md bs-sm"><img src="" alt="Николай's user avatar" width="96" height="96" class="bar-sm bar-md d-block"></div></div>
                    <div class="d-none sm:d-block js-usermini-avatar-container"><div class="bar-md bs-sm"><img src="https://www.gravatar.com/avatar/4dbb2fd10ff12a4db001df2b18b3d592?s=128&amp;d=identicon&amp;r=PG" alt="Николай's user avatar" width="64" height="64" class="bar-sm bar-md d-block"></div></div>
                </a>
                <div class="flex--item">
                    <div class="d-flex ai-center fw-wrap gs8 wmx4">
                        <div class="flex--item mb12 fs-headline2 lh-xs"><span
                                style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                            Николай
                        </span></span></div>
                        <div class="d-flex ai-center fw-nowrap gs4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex ai-center jc-space-between fw-wrap mb16 js-user-header">
            <div class="flex--item s-navigation">
                <a href="/users" class="s-navigation--item is-selected" data-shortcut="P"><span style="vertical-align: inherit;"><span
                        style="vertical-align: inherit;">Профиль</span></span></a>
                <a href="/users" class="s-navigation--item" data-shortcut="A"><span
                        style="vertical-align: inherit;"><span style="vertical-align: inherit;">Активность</span></span></a>
                <a href="/users" class="js-gps-track s-navigation--item" data-gps-track="saves.visit;"><span style="vertical-align: inherit;"><span
                        style="vertical-align: inherit;">Сохраняет</span></span></a>
                <a href="/users" class="s-navigation--item"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Настройки</span></span></a>
            </div>
        </div>
        <div id="main-content">
            <div class="d-flex gs24 md:fd-column">
                <div class="flex--item3 fl-shrink0 md:order-last">
                    <div class="d-grid g24">
                        <div class="grid--item" data-is-here-when="lg" id="stats">
                            <div class="fs-title mb8"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Статистика</span></span></div>
                            <div class="s-card fc-light bar-md">
                                <div class="d-flex flex__allitems6 gs16 fw-wrap md:jc-space-between">
                                    <div class="flex--item md:fl-auto">
                                        <div class="fs-body3 fc-dark"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">1</span></span></div><span
                                            style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                                        репутация
                                    </span></span></div>
                                    <div class="flex--item md:fl-auto" title="Расчетное количество раз, когда люди просматривали ваши полезные сообщения (на основе просмотров страниц ваших вопросов и вопросов, на которые вы написали высоко оцененные ответы)">
                                        <div class="fs-body3 fc-dark"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">0</span></span></div><span
                                            style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                                        достиг
                                    </span></span></div>
                                    <div class="flex--item md:fl-auto">
                                        <div class="fs-body3 fc-dark"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">0</span></span></div><span
                                            style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                                        ответы
                                    </span></span></div>
                                    <div class="flex--item md:fl-auto">
                                        <div class="fs-body3 fc-dark"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">0</span></span></div><
                                        font style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                                        вопросы
                                    </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid--item">
                            <div class="d-flex ai-center jc-space-between mb8">
                                <div class="flex--item fs-title"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                                    Сообщества
                                </span></span></div>
                                <a class="flex--item s-link s-link__muted" title="Отредактируйте список видимых сообществ." href="/users/hidecommunities/21310764"><span
                                        style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                                    Редактировать
                                </span></span></a>
                            </div>
                            <div class="s-card bar-md">
                                <ul class="list-reset d-flex fd-column gs12 gsy wmx2">
                                    <li class="flex--item">
                                        <a class="d-flex gs4 gsx ai-center js-gps-track" href="https://" title="<БЛА БЛА БЛА>" data-gps-track="profile_link.click({ target: 4, type: 1 })">
                                            <div class="item fl-shrink0 favicon" title="Переполнение стека"></div>
                                            <div class="flex--item fl-grow1 wmn0 pr4">
                                                <div class="truncate"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Stackoverkata</span></span></div>
                                            </div>
                                            <div class="flex--item fl-shrink0 ml-auto fc-light"><span style="vertical-align: inherit;"><span
                                                    style="vertical-align: inherit;">
                                            </span></span></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex--item fl-grow1">
                    <div class="d-grid g24">
                        <div data-is-here-when="sm md" data-can-be="stats"></div>
                        <div class="grid--item">
                            <div class="fs-title mb8"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">О</span></span></div>
                            <div class="s-empty-state p32 bg-black-025 bar-md ba bc-black-075 ta-center">

                            </div>
                        </div>


                        <div class="grid--item">
                            <div class="d-flex ai-center jc-space-between mb8">
                                <div class="flex--item fs-title"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                                    Значки
                                </span></span></div>
                            </div>
                            <div class="s-empty-state p32 bg-black-025 bar-md ba bc-black-075 ta-center">
                            </div>
                        </div>
                        <div class="grid--item">
                            <div class="fs-title mb8"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                                Сообщения
                            </span></span></div>
                            <div class="s-empty-state p48 bg-black-025 bar-md ba bc-black-075 ta-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer id="footer" class="site-footer js-footer" role="contentinfo">
    <div class="site-footer--container">
        <div class="site-footer--logo">
        </div>
        <nav class="site-footer--nav">
            <div class="site-footer--col">
                <h5 class="-title"><a href="https://" class="js-gps-track" data-gps-track="footer.click({ location: 4, link: 19 })"><span
                        style="vertical-align: inherit;"><span style="vertical-align: inherit;">БЛА БЛА БЛА</span></span></a></h5>
                <ul class="-list">
                </ul>
            </div>
            <p>
            </p>
            <div class="site-footer--col">
                <h5 class="-title"><a class="js-gps-track" data-gps-track="footer.click({ location: 4, link: 1 })" href="https://"><span
                        style="vertical-align: inherit;"><span style="vertical-align: inherit;">БЛА БЛА БЛА</span></span></a></h5>
                <ul class="-list">
                </ul>
            </div>
            <p>
            </p>
            <div class="site-footer--col site-footer--categories-nav">
                <h5 class="-title"><a href="" data-gps-track="footer.click({ location: 4, link: 30 })"><span style="vertical-align: inherit;"><span
                        style="vertical-align: inherit;">БЛА БЛА БЛА</span></span></a></h5>
                <ul class="-list">
                    <li class="mt16 md:mt0">
                    </li>
                </ul>
            </div>
            <p>
            </p>
        </nav>
        <div class="site-footer--copyright fs-fine md:mt24">
            <ul class="-list -social md:mb8">
            </ul>
        </div>
    </div>
</footer>