<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Questitions Page</title>
    <style>
        form {
            margin: 0 auto;
            width: 250px;
        }
    </style>
</head>
<body>
<div class="container">

        <div class="container">

            <h2>Все вопросы </h2>

            <div align="right"><button type="button" class="btn btn-primary" >Задать вопрос</button></div>
            <div class="btn-group" role="group" aria-label="Basic outlined button group">
                <button type="button" class="btn btn-outline-primary">Самые новые</button>
                <button type="button" class="btn btn-outline-primary">Активные</button>
                <button type="button" class="btn btn-outline-primary">Без ответа</button>
            </div>
            <br>
            <br>
            <div class="card">
                <div class="card-header">
                    Вопрос №1
                </div>
                <div class="card-body">

                    <a href=  class="card-text">Не работает Docker. Что делать?</a>

                </div>
                <div class="card-footer text-muted">
                    Сегодня
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    Вопрос №2
                </div>
                <div class="card-body">

                    <a href=  class="card-text">Не работает Liquidbase. Что делать?</a>

                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>


            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-primary">1</button>
                    <button type="button" class="btn btn-primary">2</button>
                    <button type="button" class="btn btn-primary">3</button>
                    <button type="button" class="btn btn-primary">4</button>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary">5</button>
                    <button type="button" class="btn btn-secondary">6</button>
                    <button type="button" class="btn btn-secondary">7</button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-info">8</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>
</body>
</html>