<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="shortcut icon" type="image/png"
          href="https://avatars.mds.yandex.net/i?id=bc97ef2f6266bf31f3060082b2ab57cf-7000993-images-thumbs&n=13&exp=1">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container" style="height: 250vh">
    <div class="col-8">
        <h1></h1>
        <h1>Все вопросы</h1>
    </div>
    <div class="col-4">
        <h1></h1>
        <p>The Overflow Blog и т.п.</p>
    </div>

</div>
<script src="/js/sidebar.js"></script>
<script src="/js/header.js"></script>
<script src="/js/footer.js"></script>

</body>
</html>