<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ask a public question - Stackoverkata</title>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196">
    <link rel="apple-touch-icon"
          href="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a">
    <link rel="image_src" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a">
    <link rel="search" type="application/opensearchdescription+xml" title="Stack Overflow" href="/opensearch.xml">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=549572c32c99">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=ac31e09d7511">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.sstatic.net/Sites/stackoverflow/secondary.css?v=6793be5668e3">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/Channels/channels.css?v=a5fae8812988">
</head>
<body>
<div class="d-flex fd-column js-write-question-notice">
    <div class="d-flex flex--item w100 lg:mb12 lg:100 ai-center bg-no-repeat bg-right-bottom wide:bg-image-ask-v2 wide:h-ask-v2-background">
        <h1 class="fs-headline1 fw-bold mt24">Ask a public question</h1>
    </div>
    <div class="flex--item">
    </div>
    <div class="w100 mt16">
        <div class="d-flex w100 ai-center mb16 md:mt0">
            <div class="s-notice s-notice__info p24 w70 lg:w100">
                <h2 class="fs-title fw-normal mb8">Writing a good question</h2>
                <h5 class="fw-bold mb8">Steps</h5>
                <ul class="mb0">
                    <li>Summarize your problem in a one-line title.</li>
                    <li>Describe your problem in more detail.</li>
                    <li>Describe what you tried and what you expected to happen.</li>
                    <li>Add “tags” which help surface your question to members of the community.</li>
                    <li>Review your question and post it to the site.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="flex--item w70 lg:w100 bg-white bar-sm p24 ba bc-black-075 fl-shrink0 js-post-title-section"
     id="post-title">
    <div class="d-flex gs4 gsy fd-column js-stacks-validation">
        <div class="d-flex fd-column flex--item">
            <div class="flex--item">
                <label for="title" class="s-label">
                    Title
                </label>
            </div>
            <div class="d-flex flex--item md:fd-column">
                <div class="s-description flex--item9 my2">
                    <label for="title">
                        Be specific and imagine you’re asking a question to another person.
                    </label>
                </div>
                <div class="flex--item3 s-input-message js-title-text-counter ta-right md:ta-left my2 s-description py2 cool d-none"></div>
            </div>
        </div>
        <div class="d-flex ps-relative">
            <input id="title" name="title" type="text" maxlength="300"
                   placeholder="e.g. Is there an R function for finding the index of an element in a vector?"
                   class="s-input js-post-title-field ask-title-field" value="" data-min-length="15"
                   data-max-length="150">
            <svg aria-hidden="true" class="s-input-icon js-title-invalid-alert d-none svg-icon iconAlertCircle"
                 width="18" height="18" viewBox="0 0 18 18">
                <path d="M9 17c-4.36 0-8-3.64-8-8 0-4.36 3.64-8 8-8 4.36 0 8 3.64 8 8 0 4.36-3.64 8-8 8ZM8 4v6h2V4H8Zm0 8v2h2v-2H8Z"></path>
            </svg>
        </div>
        <div class="flex--item s-input-message d-none js-stacks-validation-message"></div>
    </div>
    <button class="flex--item s-btn s-btn__primary mt8 js-next-title js-next-buttons d-none" type="button">Next</button>
</div>
<div class="js-problem-details-overlay t0 b0 p24">
    <div class="d-flex gs4 gsy fd-column js-stacks-validation">
        <div class="flex--item">
            <label for="problem-details" class="d-block s-label">
                What are the details of your problem?
                <p class="s-description mt2 mb6">Introduce the problem and expand on what you put in the title. Minimum
                    20 characters.</p>
            </label>
        </div>
        <div class="js-problem-details-field" id="problem-details" data-stacks-editor-instance-id="1404">
            <div class="ps-relative z-base s-textarea overflow-auto hmn2 w100 p0 d-flex fd-column s-editor-resizable">
                <div class="js-sticky-sentinel"></div>
                <div class="py6 bg-inherit btr-sm w100 ps-sticky t0 l0 z-nav s-editor-shadow js-plugin-container js-sticky">
                    <div class="d-flex overflow-x-auto ai-center px12 py4 pb0">
                        <div class="d-flex g16 fl-grow1 ai-center js-editor-menu">
                            <div class="s-editor-menu-block d-flex g2  js-block-formatting1">
                                <button class="s-editor-btn s-btn js-editor-btn js-heading-btn"
                                        aria-label="Heading (Ctrl-H)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="toggleHeading" type="button"
                                        aria-describedby="--stacks-s-tooltip-58y4fmtt"><span
                                        class="svg-icon-bg iconHeader"></span></button>
                                <div id="--stacks-s-tooltip-58y4fmtt" class="s-popover s-popover__tooltip"
                                     role="tooltip">Heading (Ctrl-H)
                                    <div class="s-popover--arrow"></div>
                                </div>
                                <button class="s-editor-btn s-btn js-editor-btn js-bold-btn" aria-label="Bold (Ctrl-B)"
                                        data-controller="s-tooltip" data-s-tooltip-placement="top" data-key="toggleBold"
                                        type="button" aria-describedby="--stacks-s-tooltip-9uj1gs41"><span
                                        class="svg-icon-bg iconBold"></span></button>
                                <div id="--stacks-s-tooltip-9uj1gs41" class="s-popover s-popover__tooltip"
                                     role="tooltip">Bold (Ctrl-B)
                                    <div class="s-popover--arrow"></div>
                                </div>
                                <button class="s-editor-btn s-btn js-editor-btn js-italic-btn"
                                        aria-label="Italic (Ctrl-I)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="toggleEmphasis" type="button"
                                        aria-describedby="--stacks-s-tooltip-b7plju50"><span
                                        class="svg-icon-bg iconItalic"></span></button>
                                <div id="--stacks-s-tooltip-b7plju50" class="s-popover s-popover__tooltip"
                                     role="tooltip">Italic (Ctrl-I)
                                    <div class="s-popover--arrow"></div>
                                </div>
                            </div>
                            <div class="s-editor-menu-block d-flex g2  js-block-code-formatting">
                                <button class="s-editor-btn s-btn js-editor-btn js-code-btn"
                                        aria-label="Inline code (Ctrl-K)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="toggleCode" type="button"
                                        aria-describedby="--stacks-s-tooltip-6h9oen1f"><span
                                        class="svg-icon-bg iconCode"></span></button>
                                <div id="--stacks-s-tooltip-6h9oen1f" class="s-popover s-popover__tooltip"
                                     role="tooltip"><p class="mb4">Inline code (Ctrl-K)</p>
                                    <p class="fs-caption fc-light m0">Single line code span for use within a block of
                                        text</p>
                                    <div class="s-popover--arrow"></div>
                                </div>
                                <button class="s-editor-btn s-btn js-editor-btn js-code-block-btn"
                                        aria-label="Code block (Ctrl-M)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="toggleCodeblock" type="button"
                                        aria-describedby="--stacks-s-tooltip-ghv2ol5r"><span
                                        class="svg-icon-bg iconCodeblockAlt"></span></button>
                                <div id="--stacks-s-tooltip-ghv2ol5r" class="s-popover s-popover__tooltip"
                                     role="tooltip"><p class="mb4">Code block (Ctrl-M)</p>
                                    <p class="fs-caption fc-light m0">Multiline block of code with syntax
                                        highlighting</p>
                                    <div class="s-popover--arrow"></div>
                                </div>
                            </div>
                            <div class="s-editor-menu-block d-flex g2  js-block-formatting2">
                                <button class="s-editor-btn s-btn js-editor-btn js-insert-link-btn"
                                        aria-label="Link (Ctrl-L)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="toggleLink" type="button"
                                        aria-describedby="--stacks-s-tooltip-lhz2w5sx"><span
                                        class="svg-icon-bg iconLink"></span></button>
                                <div id="--stacks-s-tooltip-lhz2w5sx" class="s-popover s-popover__tooltip"
                                     role="tooltip">Link (Ctrl-L)
                                    <div class="s-popover--arrow"></div>
                                </div>
                                <button class="s-editor-btn s-btn js-editor-btn js-blockquote-btn"
                                        aria-label="Blockquote (Ctrl-Q)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="toggleBlockquote" type="button"
                                        aria-describedby="--stacks-s-tooltip-ysb8k7fy"><span
                                        class="svg-icon-bg iconQuote"></span></button>
                                <div id="--stacks-s-tooltip-ysb8k7fy" class="s-popover s-popover__tooltip"
                                     role="tooltip">Blockquote (Ctrl-Q)
                                    <div class="s-popover--arrow"></div>
                                </div>
                                <button class="s-editor-btn s-btn js-editor-btn js-insert-image-btn"
                                        aria-label="Image (Ctrl-G)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="insertImage" type="button"
                                        aria-describedby="--stacks-s-tooltip-89vl2yzs"><span
                                        class="svg-icon-bg iconImage"></span></button>
                                <div id="--stacks-s-tooltip-89vl2yzs" class="s-popover s-popover__tooltip"
                                     role="tooltip">Image (Ctrl-G)
                                    <div class="s-popover--arrow"></div>
                                </div>
                                <button class="s-editor-btn s-btn js-editor-btn js-insert-table-btn"
                                        aria-label="Table (Ctrl-E)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="insertTable" type="button"
                                        aria-describedby="--stacks-s-tooltip-24id6t3e"><span
                                        class="svg-icon-bg iconTable"></span></button>
                                <div id="--stacks-s-tooltip-24id6t3e" class="s-popover s-popover__tooltip"
                                     role="tooltip">Table (Ctrl-E)
                                    <div class="s-popover--arrow"></div>
                                </div>
                            </div>
                            <div class="s-editor-menu-block d-flex g2  js-block-formatting3">
                                <button class="s-editor-btn s-btn js-editor-btn js-numbered-list-btn"
                                        aria-label="Numbered list (Ctrl-O)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="toggleOrderedList" type="button"
                                        aria-describedby="--stacks-s-tooltip-59vx6bh2"><span
                                        class="svg-icon-bg iconOrderedList"></span></button>
                                <div id="--stacks-s-tooltip-59vx6bh2" class="s-popover s-popover__tooltip"
                                     role="tooltip">Numbered list (Ctrl-O)
                                    <div class="s-popover--arrow"></div>
                                </div>
                                <button class="s-editor-btn s-btn js-editor-btn js-bullet-list-btn"
                                        aria-label="Bulleted list (Ctrl-U)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="toggleUnorderedList" type="button"
                                        aria-describedby="--stacks-s-tooltip-y1tjl3q3"><span
                                        class="svg-icon-bg iconUnorderedList"></span></button>
                                <div id="--stacks-s-tooltip-y1tjl3q3" class="s-popover s-popover__tooltip"
                                     role="tooltip">Bulleted list (Ctrl-U)
                                    <div class="s-popover--arrow"></div>
                                </div>
                                <button class="s-editor-btn s-btn js-editor-btn js-horizontal-rule-btn"
                                        aria-label="Horizontal rule (Ctrl-R)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="insertRule" type="button"
                                        aria-describedby="--stacks-s-tooltip-tz3cqr1r"><span
                                        class="svg-icon-bg iconHorizontalRule"></span></button>
                                <div id="--stacks-s-tooltip-tz3cqr1r" class="s-popover s-popover__tooltip"
                                     role="tooltip">Horizontal rule (Ctrl-R)
                                    <div class="s-popover--arrow"></div>
                                </div>
                                <div data-controller="s-popover" data-s-popover-toggle-class="is-selected"
                                     data-s-popover-placement="bottom"
                                     data-s-popover-reference-selector="#more-formatting-dropdown-btn-9723">
                                    <button class="s-editor-btn s-btn js-editor-btn js-more-formatting-dropdown s-btn__dropdown"
                                            aria-label="More formatting" data-controller="s-tooltip"
                                            data-s-tooltip-placement="top" data-key="more-formatting-dropdown"
                                            type="button" aria-controls="more-formatting-dropdown-popover-9723"
                                            data-action="s-popover#toggle" id="more-formatting-dropdown-btn-9723"
                                            aria-expanded="false" aria-describedby="--stacks-s-tooltip-fsnp3bf8"><span
                                            class="svg-icon-bg iconEllipsisHorizontal"></span></button>
                                    <div id="--stacks-s-tooltip-fsnp3bf8" class="s-popover s-popover__tooltip"
                                         role="tooltip">More formatting
                                        <div class="s-popover--arrow"></div>
                                    </div>
                                    <div class="s-popover wmn-initial w-auto px0 pt0 py8"
                                         id="more-formatting-dropdown-popover-9723" role="menu">
                                        <div class="s-popover--arrow"></div>
                                        <div class="d-flex fd-column">
                                            <button type="button" data-key="tag-btn" data-action="s-popover#hide"
                                                    class="s-block-link s-editor--dropdown-item js-editor-btn">Tag
                                                (Ctrl-[)
                                            </button>
                                            <button type="button" data-key="spoiler-btn" data-action="s-popover#hide"
                                                    class="s-block-link s-editor--dropdown-item js-editor-btn">Spoiler
                                                (Ctrl-/)
                                            </button>
                                            <button type="button" data-key="subscript-btn" data-action="s-popover#hide"
                                                    class="s-block-link s-editor--dropdown-item js-editor-btn">Subscript
                                                (Ctrl-,)
                                            </button>
                                            <button type="button" data-key="superscript-btn"
                                                    data-action="s-popover#hide"
                                                    class="s-block-link s-editor--dropdown-item js-editor-btn">
                                                Superscript (Ctrl-.)
                                            </button>
                                            <button type="button" data-key="kbd-btn" data-action="s-popover#hide"
                                                    class="s-block-link s-editor--dropdown-item js-editor-btn">Keyboard
                                                (Ctrl-')
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="s-editor-menu-block d-flex g2 d-none sm:d-inline-flex vk:d-inline-flex js-block-history">
                                <button class="s-editor-btn s-btn js-editor-btn js-undo-btn is-disabled"
                                        aria-label="Undo (Ctrl-Z)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="undo-btn" type="button"
                                        aria-describedby="--stacks-s-tooltip-unyz07po"><span
                                        class="svg-icon-bg iconUndo"></span></button>
                                <div id="--stacks-s-tooltip-unyz07po" class="s-popover s-popover__tooltip"
                                     role="tooltip">Undo (Ctrl-Z)
                                    <div class="s-popover--arrow"></div>
                                </div>
                                <button class="s-editor-btn s-btn js-editor-btn js-redo-btn is-disabled"
                                        aria-label="Redo (Ctrl-Y)" data-controller="s-tooltip"
                                        data-s-tooltip-placement="top" data-key="redo-btn" type="button"
                                        aria-describedby="--stacks-s-tooltip-l0y4av7w"><span
                                        class="svg-icon-bg iconRefresh"></span></button>
                                <div id="--stacks-s-tooltip-l0y4av7w" class="s-popover s-popover__tooltip"
                                     role="tooltip">Redo (Ctrl-Y)
                                    <div class="s-popover--arrow"></div>
                                </div>
                            </div>
                            <div class="s-editor-menu-block d-flex g2  js-block-other"><a
                                    class="s-editor-btn s-btn flex--item js-editor-btn js-help-link"
                                    href="/editing-help" target="_blank" aria-label="Help" data-controller="s-tooltip"
                                    data-s-tooltip-placement="top" data-key="help-link"
                                    aria-describedby="--stacks-s-tooltip-xsbgvky6"><span
                                    class="svg-icon-bg iconHelp"></span></a>
                                <div id="--stacks-s-tooltip-xsbgvky6" class="s-popover s-popover__tooltip"
                                     role="tooltip">Help
                                    <div class="s-popover--arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex--item d-flex ai-center ml24 fc-medium">
                            <div class="s-btn-group__radio">
                                <input type="radio" name="mode-toggle-20" id="mode-toggle-rich-20"
                                       class="js-editor-toggle-btn" data-mode="0">
                                <label class="s-btn s-editor-btn px6" for="mode-toggle-rich-20" title="Rich text mode">
                                    <span class="svg-icon-bg iconRichText"></span>
                                    <span class="v-visible-sr">Rich text mode</span>
                                </label>
                                <input type="radio" name="mode-toggle-20" id="mode-toggle-markdown-20"
                                       class="js-editor-toggle-btn" data-mode="1" data-preview="false" checked="">
                                <label class="s-btn s-editor-btn px6" for="mode-toggle-markdown-20"
                                       title="Markdown mode">
                                    <span class="svg-icon-bg iconMarkdown"></span>
                                    <span class="v-visible-sr">Markdown mode</span>
                                </label>
                                <input type="radio" name="mode-toggle-20" id="mode-toggle-preview-20"
                                       class="js-editor-toggle-btn" data-mode="1" data-preview="true"><label
                                    class="s-btn s-editor-btn px6" for="mode-toggle-preview-20"
                                    title="Markdown with preview mode">
                                <span class="svg-icon-bg iconMarkdownPreview"></span>
                                <span class="v-visible-sr">Markdown with preview mode</span>
                            </label></div>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="fl-grow1 outline-none p12 pt6 w100 s-prose js-editor ProseMirror" role="textbox"
                     aria-multiline="true" aria-label="Body" contenteditable="true" translate="no">
                    <pre class="s-code-block markdown"><code><br class="ProseMirror-trailingBreak"></code></pre>
                </div>
            </div>
            <div></div>
        </div>
    </div>
    <button class="s-btn s-btn__primary mt12 js-next-problem-details js-next-buttons" disabled="" type="button">Post
        question
    </button>
</div>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>
</body>
</html>