<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Registration Page</title>
    <style>
        form {
            margin: 0 auto;
            width: 350px;
        }
    </style>
</head>
<body>
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <form class="text-center mt-5">
        <div class="container">
            <br>
            <h5 class="text-lg-center">Присоединяйтесь к сообществу «Stack Overflow на русском». Это бесплатно и займёт не больше минуты.</h5>
            <br>
            <a class="btn btn-outline-dark w-100 mt-2" href="#" role="button">Зарегистрироваться через Google</a>
            <a class="btn btn-dark w-100 mt-2" href="#" role="button">Зарегистрироваться через GitHub</a>
            <a class="btn btn-primary w-100 mt-2" href="#" role="button">Зарегистрироваться через Facebook</a>
            <a class="btn btn-outline-primary w-100 mt-2" href="#" role="button">Зарегистрироваться через ВКонтакте</a>
            <a class="btn btn-outline-primary w-100 mt-2" href="#" role="button">Зарегистрироваться через Яндекс</a>

            <br><br>
            <div class="shadow-lg p-3 mb-5 bg-white rounded-lg">
            <label for="fullName"><b>Отображаемое имя</b></label>
            <input type="text" class="form-control" placeholder="Введите ваше имя" name="fullName" id="fullName" required>

            <label for="email"><b>Почта</b></label>
            <input type="text" class="form-control" placeholder="Введите email" name="email" id="email" required>

            <label for="password"><b>Пароль</b></label>
            <input type="text" class="form-control" placeholder="Придумайте пароль" name="password" id="password" required>

            <br>
            <button type="submit" id="register" class="btn btn-primary">Регистрация</button>
                </div>
            <br/>
            <p class="font-weight-normal">Уже есть учётная запись? <a href="#" class="stretched-link">Войдите</a></p>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/header.js"></script>

</body>
</html>

