<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Метки</title>
    <style>
        form {
            margin: 0 auto;
            width: 350px;
        }
    </style>
</head>
<body>
<div class="container">

    <!--    <div class="container">-->
    <div id="content" class="snippet-hidden">
        <!--            <div id="mainbar-full">-->


        <h1 class="fs-headline1 mb24">
            Метки
        </h1>
        <h3>Метка — это ключевое слово, позволяющее отнести ваш вопрос в одну категорию с<br>
            другими похожими вопросами. Благодаря подбору правильных меток другие участники<br>
            смогут проще найти ваш вопрос и быстрее дать на него ответ.</h3>
        <br>
        <a href="#">Показать все синонимы меток</a>
        <br>
        <br>




        <div class="d-flex fw-wrap ai-stretch md:d-block">

            <div class="flex--item mb12 ps-relative">
                <input id="userfilter" name="userfilter" class="s-input s-input__search h100 wmx3"
                       autocomplete="off" type="text" placeholder="Фильтрация по имени">
                <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18"
                     height="18" viewBox="0 0 18 18">
                    <path d="m18 16.5-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5ZM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0Z"></path>
                </svg>
            </div>

            <div class="flex--item ml-auto mb12 h100 d-flex s-btn-group js-filter-btn">
                <a class="js-sort-preference-change youarehere is-selected flex--item s-btn s-btn__muted s-btn__outlined"
                   href="#" data-nav-xhref=""
                   title="наиболее популярные теги" data-value="popular-tags" data-shortcut=""
                   aria-current="page">
                    Популярные</a>
                <a class="js-sort-preference-change flex--item s-btn s-btn__muted s-btn__outlined"
                   href="#" data-nav-xhref="" title="метки в алфавитном порядке"
                   data-value="alphabet-tags" data-shortcut="">
                    Имя</a>
                <a class="js-sort-preference-change flex--item s-btn s-btn__muted s-btn__outlined"
                   href="#" data-nav-xhref="" title="недавно созданные метки"
                   data-value="latest-tags" data-shortcut="">
                    Новые</a>

            </div>





            <div class="row ml-0">
                <!--                1-->
                <div class="col-sm-3 ml-0 mr-0 pl-0 pr-0">
                    <div class="card h-100">
                        <div class="card-body">
                            <span class="badge font-weight-normal"  style="color:#467fa8; background-color:#e2edf4;">javascript</span>
                            <br>
                            <br>
                            <p class="card-text">JavaScript (не путать с Java) — динамический, интерпретируемый язык со слабой типизацией, обычно используемый для написания</p>
                            <span style="color:grey; float:left;">вопросы</span><span style="color:grey; float:right;">задано</span>
                        </div>
                    </div>
                </div>
                <!--                2-->
                <div class="col-sm-3 pr-0">
                    <div class="card h-100">
                        <div class="card-body">
                            <span class="badge font-weight-normal"  style="color:#467fa8; background-color:#e2edf4;">javascript</span>
                            <br>
                            <br>
                            <p class="card-text">JavaScript (не путать с Java) — динамический, интерпретируемый язык со слабой типизацией, обычно используемый для написания</p>
                            <span style="color:grey; float:left;">вопросы</span><span style="color:grey; float:right;">задано</span>
                        </div>
                    </div>
                </div>
                <!--                3-->
                <div class="col-sm-3 pr-0">
                    <div class="card h-100">
                        <div class="card-body">
                            <span class="badge font-weight-normal"  style="color:#467fa8; background-color:#e2edf4;">javascript</span>
                            <br>
                            <br>
                            <p class="card-text">JavaScript (не путать с Java) — динамический, интерпретируемый язык со слабой типизацией, обычно используемый для написания</p>
                            <span style="color:grey; float:left;">вопросы</span><span style="color:grey; float:right;">задано</span>
                        </div>
                    </div>
                </div>
                <!--                4-->
                <div class="col-sm-3 pr-0">
                    <div class="card h-100">
                        <div class="card-body">
                            <span class="badge font-weight-normal"  style="color:#467fa8; background-color:#e2edf4;">javascript</span>
                            <br>
                            <br>
                            <p class="card-text">JavaScript (не путать с Java) — динамический, интерпретируемый язык со слабой типизацией, обычно используемый для написания</p>
                            <span style="color:grey; float:left;">вопросы</span><span style="color:grey; float:right;">задано</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>









        <div class="s-pagination site1 themed pager float-right">
            <div class="s-pagination--item is-selected" aria-current="&quot;page&quot;">1</div>
            <div class="s-pagination--item s-pagination--item__clear">…</div>
            <a class="s-pagination--item js-pagination-item"
               href="/users?page=2&amp;tab=reputation&amp;filter=week" rel="next" title="Go to page 2">
                Далее</a></div>




        <!--            </div>-->

    </div>
    <!--    </div>-->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>
</body>
</html>
