<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Участники - Stack OverKata</title>
    <style>
        form {
            margin: 0 auto;
            width: 350px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="container">
        <div id="content" class="snippet-hidden">
            <div id="mainbar-full">

                <h1 class="fs-headline1 mb24">
                    Участники
                </h1>

                <div class="d-flex fw-wrap ai-stretch md:d-block">
                    <div class="flex--item mb12 ps-relative">
                        <input id="userfilter" name="userfilter" class="s-input s-input__search h100 wmx3"
                               autocomplete="off" type="text" placeholder="Найти участника">
                        <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18"
                             height="18" viewBox="0 0 18 18">
                            <path d="m18 16.5-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5ZM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0Z"></path>
                        </svg>
                    </div>

                    <div class="flex--item ml-auto mb12 h100 d-flex s-btn-group js-filter-btn">
                        <a class="js-sort-preference-change youarehere is-selected flex--item s-btn s-btn__muted s-btn__outlined"
                           href="/users?tab=reputation" data-nav-xhref=""
                           title="Участники с наибольшими баллами репутации" data-value="reputation" data-shortcut=""
                           aria-current="page">
                            Репутация</a>
                        <a class="js-sort-preference-change flex--item s-btn s-btn__muted s-btn__outlined"
                           href="/users?tab=newusers" data-nav-xhref="" title="Участники, присоединившиеся за последние
                           30 дней"
                           data-value="newusers" data-shortcut="">
                            Новые участники</a>
                        <a class="js-sort-preference-change flex--item s-btn s-btn__muted s-btn__outlined"
                           href="/users?tab=voters" data-nav-xhref="" title="Участники, проголосовавшие более 10 раз"
                           data-value="voters" data-shortcut="">
                            Голосующие</a>
                        <a class="js-sort-preference-change flex--item s-btn s-btn__muted s-btn__outlined"
                           href="/users?tab=editors" data-nav-xhref=""
                           title="Участники, отредактировавшие не менее 5 публикаций"
                           data-value="editors" data-shortcut="">
                            Редакторы</a>
                        <a class="js-sort-preference-change flex--item s-btn s-btn__muted s-btn__outlined"
                           href="/users?tab=moderators" data-nav-xhref="" title="Наши действующие модераторы комьюнити"
                           data-value="moderators" data-shortcut="">
                            Модераторы</a>
                    </div>

                </div>

                <div class="fs-body2 mt8 mb12">
                    <div class="d-flex jc-space-between">
                        <div class="flex--item ml-auto md:ml0">
                            <div id="tabs-interval" class="subtabs">
                                <a class="js-sort-preference-change" href="/users?tab=Reputation&amp;filter=all"
                                   data-nav-xhref="" title="с 2000-01-01 по сегодня" data-value="all" data-shortcut="">
                                    все время</a>
                                <a class="js-sort-preference-change" href="/users?tab=Reputation&amp;filter=year"
                                   data-nav-xhref="" title="с 2022-01-01 по сегодня" data-value="year" data-shortcut="">
                                    год</a>
                                <a class="js-sort-preference-change" href="/users?tab=Reputation&amp;filter=quarter"
                                   data-nav-xhref="" title="с 2022-10-01 по сегодня" data-value="quarter" data-shortcut="">
                                    квартал</a>
                                <a class="js-sort-preference-change" href="/users?tab=Reputation&amp;filter=month"
                                   data-nav-xhref="" title="с 2022-11-01 по сегодня" data-value="month" data-shortcut="">
                                    месяц</a>
                                <a class="js-sort-preference-change youarehere is-selected"
                                   href="/users?tab=Reputation&amp;filter=week" data-nav-xhref=""
                                   title="2022-11-06 to today" data-value="week" data-shortcut="" aria-current="page">
                                    неделя</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="user-browser">
                    <div class="d-grid grid__4 lg:grid__3 md:grid__2 sm:grid__1 g12">

                        <!--                        Здесь будут отображаться участники-->


                    </div>
                    <div class="s-pagination site1 themed pager float-right">
                        <div class="s-pagination--item is-selected" aria-current="&quot;page&quot;">1</div>
                        <div class="s-pagination--item s-pagination--item__clear">…</div>
                        <a class="s-pagination--item js-pagination-item"
                           href="/users?page=2&amp;tab=reputation&amp;filter=week" rel="next" title="Go to page 2">
                            Далее</a></div>
                </div>

                <div id="users-legend" style="float: left; margin-top: 25px; margin-bottom: 10px;">
                    <b><a href="https://stackexchange.com/leagues/week/stackoverflow">недельные / месячные / квартальные
                        лиги репутации</a></b>
                </div>

            </div>

        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>
</body>
</html>

